<a href="https://colab.research.google.com/github/Robot99lml/Credit_Scoring/blob/main/introduccion/conociendo_el_RCC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


<h1 align=center><font size = 5>Conociendo el Reporte Crediticio Consolidado
</font></h1>

---

## Introducci칩n

En este laboratorio, aprender치 a realizar consultas b치sicas sobre la informaci칩n de la <b>RCC</b>.

## Leyendo la base de datos

In [ ]:
import pandas as pd

In [5]:
rcc = pd.read_csv('https://raw.githubusercontent.com/Robot99lml/Credit_Scoring/main/RCC_202206.csv')
rcc.head()

,codsbs,tipcreditosbs,codempsistemafinancierodeuda,codctacontablesbs,codmoneda,tipcondiciondiamorosidad,mtodeudasol,tipclasifriesgoempsistemafinan,codrubroicc,codmes
0,69947689,10,104,14110206020000,1,0.0,12248.70,0,4,202201
1,69947689,10,108,14180200000000,1,0.0,219.90,0,0,202201
2,69947689,10,108,14110206020000,1,0.0,17011.65,0,4,202201
3,69947689,10,108,84140900000000,1,0.0,9180.00,0,42,202201
4,69947689,10,104,29110101000000,1,0.0,160.57,0,0,202201

In [ ]:
rcc['codctacontablesbs'] = rcc['codctacontablesbs'].astype('str')

In [ ]:
deudas_vigentes_consumo = rcc.loc[(rcc.codctacontablesbs.str[:2] == '14') &
        #(rcc.codctacontablesbs.str[3:4] == '1') &
        (rcc.codctacontablesbs.str[4:6] == '03') &
        (rcc.codctacontablesbs.str[6:8] == '06')]

In [ ]:
deudas_vigentes_consumo.head()

,codsbs,tipcreditosbs,codempsistemafinancierodeuda,codctacontablesbs,codmoneda,tipcondiciondiamorosidad,mtodeudasol,tipclasifriesgoempsistemafinan,codrubroicc,codmes
15,52437482,12,109,14110306050000,1,0.0,484.26,0,4,202201
48,87655547,12,107,14110306020000,1,0.0,5502.09,0,4,202201
76,53070370,12,237,14110306140000,1,0.0,3001.96,0,0,202201
101,103267463,12,6,14110306030000,1,0.0,7697.80,0,4,202201
126,38468944,12,73,14110306130000,1,0.0,6500.00,0,0,202201

In [ ]:
deudas_vigentes_consumo.groupby(['codmes','codsbs'])['mtodeudasol'].agg(['sum'])

In [ ]:
df = deudas_vigentes_consumo.groupby(['codmes','codsbs']).aggregate({'mtodeudasol': 'sum',
                                                                'tipcondiciondiamorosidad': 'max'}).reset_index()

In [ ]:
df.loc[df.tipcondiciondiamorosidad > 0]

---
## Gracias por completar este laboratorio!