<a href="https://colab.research.google.com/github/Robot99lml/Credit_Scoring/blob/main/introduccion/conociendo_el_RCC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


<h1 align=center><font size = 5>Conociendo el Reporte Crediticio Consolidado
</font></h1>

---

## Introducci칩n

En este laboratorio, aprender치 a realizar consultas b치sicas sobre la informaci칩n de la <b>RCC</b>.

## Leyendo la base de datos

In [1]:
import pandas as pd

In [26]:
class CleaningRcc():
  def __init__(self):
    self.rcc_url = 'https://raw.githubusercontent.com/Robot99lml/Credit_Scoring/main/RCC_202206.csv'
    self.data_types = {
      'codsbs': str,
      'tipcreditosbs': str,
      'codempsistemafinancierodeuda': str,
      'codctacontablesbs': str,
      'codmoneda': str,
      'tipcondiciondiamorosidad': float,
      'mtodeudasol': float,
      'tipclasifriesgoempsistemafinan': str,
      'codrubroicc': str,
      'codmes': str
    }
    self.transform()

  def transform(self):
    rcc_df = pd.read_csv('https://raw.githubusercontent.com/Robot99lml/Credit_Scoring/main/RCC_202206.csv')
    self.rcc_df = rcc_df.astype(self.data_types)

In [27]:
class Rcc(CleaningRcc):
  def __init__(self, input: object):
    super().__init__()
    self.input = input
    self.process()

  def process(self):
    try:
      for field in self.input.keys():
        match field:
          case 'category_id':
            if self.input[field] != None:
              self.rcc_df = self.rcc_df[self.rcc_df["codctacontablesbs"].str[:2].isin(self.input[field])]
          case 'currency_id':
            if self.input[field] != None:
              self.rcc_df = self.rcc_df[self.rcc_df["codctacontablesbs"].str[2:3].isin(self.input[field])]
          case'credit_condition_id':
            if self.input[field] != None:
              self.rcc_df = self.rcc_df[self.rcc_df["codctacontablesbs"].str[3:4].isin(self.input[field])]
          case 'sector_id':
            if self.input[field] != None:
              self.rcc_df = self.rcc_df[self.rcc_df["codctacontablesbs"].str[4:6].isin(self.input[field])]
          case 'product_id':
            if self.input[field] != None:
              self.rcc_df = self.rcc_df[self.rcc_df["codctacontablesbs"].str[6:8].isin(self.input[field])]
          case 'sub_product_id':
            if self.input[field] != None:
              self.rcc_df = self.rcc_df[self.rcc_df["codctacontablesbs"].str[8:10].isin(self.input[field])]
    except Exception as e:
      return e

In [38]:
rcc = Rcc(input = {
    'category_id': ['14'],
    'currency_id': None,
    'credit_condition_id': ['1'],
    'sector_id': ['03'],
    'product_id': ['06'],
    'sub_product_id': None
})

In [39]:
rcc.rcc_df

,codsbs,tipcreditosbs,codempsistemafinancierodeuda,codctacontablesbs,codmoneda,tipcondiciondiamorosidad,mtodeudasol,tipclasifriesgoempsistemafinan,codrubroicc,codmes
15,52437482,12,109,14110306050000,1,0.0,484.26,0,4,202201
48,87655547,12,107,14110306020000,1,0.0,5502.09,0,4,202201
76,53070370,12,237,14110306140000,1,0.0,3001.96,0,0,202201
101,103267463,12,6,14110306030000,1,0.0,7697.80,0,4,202201
126,38468944,12,73,14110306130000,1,0.0,6500.00,0,0,202201
...,...,...,...,...,...,...,...,...,...,...
23364,35058532,12,237,14110306030000,1,0.0,917.69,0,4,202204
23396,104843930,12,72,14110306030000,1,0.0,14331.35,0,4,202204
23448,74363199,12,237,14110306140000,1,0.0,489.47,0,0,202204
23513,88619129,12,231,14110306030000,1,0.0,13891.62,0,4,202203
23524,137935775,12,156,14110306030000,1,0.0,1795.33,0,4,202201

---
## Gracias por completar este laboratorio!