<a href="https://colab.research.google.com/github/Robot99lml/Credit_Scoring/blob/main/introduccion/conociendo_el_RCC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


<h1 align=center><font size = 5>Conociendo el Reporte Crediticio Consolidado
</font></h1>

---

## Introducción

En este laboratorio, aprenderá a realizar consultas básicas sobre la información de la <b>RCC</b>.

## Leyendo la base de datos

In [1]:
import pandas as pd

## Limpieza y transformación de RCC
Transformación de campos del archivo RCC.

In [2]:
class CleaningRcc():
  def __init__(self):
    self.rcc_url = 'https://raw.githubusercontent.com/Robot99lml/Credit_Scoring/main/RCC_202206.csv'
    self.data_types = {
      'codsbs': str,
      'tipcreditosbs': str,
      'codempsistemafinancierodeuda': str,
      'codctacontablesbs': str,
      'codmoneda': str,
      'tipcondiciondiamorosidad': float,
      'mtodeudasol': float,
      'tipclasifriesgoempsistemafinan': str,
      'codrubroicc': str,
      'codmes': str
    }
    self.transform()

  def transform(self):
    rcc_df = pd.read_csv(self.rcc_url)
    self.rcc_df = rcc_df.astype(self.data_types)

## Procesamiento de RCC

Clase genérica para poder identificar diferentes filtros los digitos de la cuenta.

In [3]:
class Rcc(CleaningRcc):
  def __init__(self, input: object):
    super().__init__()
    self.input = input
    self.process()

  def process(self):
    try:
      for field in self.input.keys():
        match field:
          case 'category_id':
            if self.input[field] != None:
              self.rcc_df = self.rcc_df[self.rcc_df["codctacontablesbs"].str[:2].isin(self.input[field])]
          case 'currency_id':
            if self.input[field] != None:
              self.rcc_df = self.rcc_df[self.rcc_df["codctacontablesbs"].str[2:3].isin(self.input[field])]
          case'credit_condition_id':
            if self.input[field] != None:
              self.rcc_df = self.rcc_df[self.rcc_df["codctacontablesbs"].str[3:4].isin(self.input[field])]
          case 'sector_id':
            if self.input[field] != None:
              self.rcc_df = self.rcc_df[self.rcc_df["codctacontablesbs"].str[4:6].isin(self.input[field])]
          case 'product_id':
            if self.input[field] != None:
              self.rcc_df = self.rcc_df[self.rcc_df["codctacontablesbs"].str[6:8].isin(self.input[field])]
          case 'sub_product_id':
            if self.input[field] != None:
              self.rcc_df = self.rcc_df[self.rcc_df["codctacontablesbs"].str[8:10].isin(self.input[field])]
    except Exception as e:
      return e

## Instancia de Clase
Extraiga las deudas correspondientes a créditos vigentes de tipo Hipotecario

In [4]:
rcc = Rcc(input = {
    'category_id': ['14'],
    'currency_id': None,
    'credit_condition_id': ['1'],
    'sector_id': ['04'],
    'product_id': None,
    'sub_product_id': None
})

In [5]:
rcc.rcc_df

,codsbs,tipcreditosbs,codempsistemafinancierodeuda,codctacontablesbs,codmoneda,tipcondiciondiamorosidad,mtodeudasol,tipclasifriesgoempsistemafinan,codrubroicc,codmes
2525,59890603,13,4,14110406010000,1,0.0,255265.67,0,4,202201
6369,59890603,13,4,14110406010000,1,0.0,254123.32,0,4,202202
10315,59890603,13,4,14110406010000,1,0.0,252830.61,0,4,202203
10414,59890603,13,4,14110406010000,1,0.0,250463.83,0,4,202205
16767,59890603,13,4,14110406010000,1,0.0,251721.74,0,4,202204
17707,59890603,13,4,14110406010000,1,0.0,249293.48,0,4,202206

---
## Gracias por completar este laboratorio!